body {
	background-image: url('TelaInicial.png');
	background-size: cover;
	color: #FFFFFF; /* Define a cor do texto para branco */
	font-family: 'Roboto Black', sans-serif;
}

#logoGerada{
	max-width: 500px;
	height: auto;

}

.container {
	display: flex;
}

.left {
	flex-basis: 50%;
	padding: 50px;
}

.left img {
	max-width: 100%;
	height: auto;
}

.left p {
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.right {
	flex-basis: 50%;
	padding: 50px;
	display: flex;
	flex-direction: column;
}

.comp1 {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
	flex: 2;
	font-size: 36px;
}

.comp2 {
	flex: 1;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.comp2 button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 18px;
	background-color: #30BFA5;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.comp3 {
	flex: 1;
}
